/**
 * Mixins
 * ----
 */

@mixin font-face($_name, $_url, $_suffix: "", $_style: normal, $_weight: normal) {
	@font-face {
		font-family: $_name;
		src: url($_url + ".eot");
		src:
			url("#{$_url}.woff2#{$_suffix}") format("woff2"),
			url("#{$_url}.woff#{$_suffix}") format("woff"),
			url("#{$_url}.ttf#{$_suffix}") format("truetype"),
			url("#{$_url}.svg##{$_name}#{$_suffix}") format("svg");
		font-style: $_style;
		font-weight: $_weight;
	}
}

/**
 * Resets
 */

@mixin button-reset {
	border: none;
	cursor: pointer;
	outline: 0;
}

/**
 * Typography
 */

@mixin heading {
	font-weight: theme('fontWeight.medium');
	line-height: theme('lineHeight.heading');
}

/**
 * Components
 */

@mixin c-icon {
	display: inline-block;
	width: 1em;
	height: 1em;

	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	white-space: nowrap;
	// Enable Ligatures
	font-feature-settings: "liga";
	font-variant-ligatures: discretionary-ligatures;
	letter-spacing: 0;
	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin c-link {
	@apply text-blue-200 no-underline duration-200 ease-in-out;

	transition-property: color;

	&:hover {
		@apply text-color;
	}
}
